<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="/css/auth/auth.css">
</head>
<body>

<div class="container">

    <form action="/cadastro" method="post" class="form">

        <h1>Cadastro</h1>

        <input
                type="text"
                name="nome"
                placeholder="Nome"
                required
        >

        <input
                type="email"
                name="email"
                placeholder="Email"
                required
        >

        <input
                type="password"
                name="senha"
                placeholder="Senha"
                required
        >

        <label for="permissao">Permissão</label>

        <select name="permissao" id="permissao" required>
            <option value="BIBLIOTECARIO">
                Bibliotecário
            </option>

            <option value="ADMIN">
                Administrador
            </option>
        </select>

        <button type="submit">
            Cadastrar
        </button>

        <p>
            Já possui conta?
            <a href="/login">
                Entrar
            </a>
        </p>

    </form>

</div>

<script src="/js/auth/auth.js"></script>
</body>
</html>