<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>

    <link rel="stylesheet" href="/css/livros/livros.css">
</head>
<body>

<div class="container">

    <h1>Livros Cadastrados</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>ISBN</th>
            <th>Autores</th>
            <th>Lançamento</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="livro : ${livros}">
            <td th:text="${livro.id}"></td>
            <td th:text="${livro.nome}"></td>
            <td th:text="${livro.isbn}"></td>
            <td th:text="${livro.autores}"></td>
            <td th:text="${livro.lancamento}"></td>
        </tr>

        </tbody>
    </table>

</div>

<script src="/js/script.js"></script>

</body>
</html>